---
import Layout from '../layouts/Layout.astro';
import Tile from '../components/Tile.astro';
import booksdata from '../data/books.json';
---
<Layout>
  <section class="flex mt-8 justify-center items-center flex-col">
    <h1 class="m-auto text-center text-4xl font-serif font-bold">Game, start!</h1>
      <div class="board">
        {/* TODO: create specialized corner tiles */}
        <div class="center-box"></div>
        {/* TODO: grid to style gameboard square & use index to know when to wrap tiles */}
          <div class="grid">
            {
              booksdata.map((book, index) => {
                return (
                  <div class={`tile-${index}`} date-genre={book.genre}>
                    <Tile prompt={book.subgenre}
                        colorBand={book.genre} />
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
  </section>
</Layout>

<style>
  .board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 220px);
  }

  .center-box {
    grid-column: 2 / 8;
    grid-row: 2 / 8;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
  }

  .vertical-row {
    grid-template-columns: 220px;
    grid-template-rows: repeat(8, 1fr);
  }

  .vertical-row [class*="tile"] {
    transform: rotate(90deg);
  }

  .horizontal-row {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 220px;
  }

  .top-row {
    grid-column: 2 / 8;
    grid-row: 1;
  }
  
  .bottom-row {
    grid-column: 2 / 8;
    grid-row: 8;
  }
</style>

<script>
  /* TODO: add container with row + column specific classes based on tile group */
  const rowSize = 6;
  let tiles = document.querySelectorAll("[class*=tile-]");
  console.log('tiles:', tiles);

  // function assignDirection(size:number, tile:NodeList){
  //   for (let i = 0; i < tile.length; i += size) {
  //     // Iterate over divs, incrementing by 6

  //     const container = document.createElement('div'); // Create a new container
  //     container.classList.add("grid");

  //     for (let j = i; j < i + 6 && j < tile.length; j++) {
  //       // Move the next 6 divs into the container
  //       container.appendChild(tile[j]);
  // }
  //     document.body.appendChild(container); // Add the container to the DOM
  //   }
  // }

  // assignDirection(rowSize, tiles)

</script>