---
import Layout from '../layouts/Layout.astro';
import Tile from '../components/Tile.astro';
import booksdata from '../data/books.json';
---
<Layout>
  <section class="flex mt-8 justify-center items-center flex-col">
    <h1 class="m-auto text-center text-4xl font-serif font-bold">Game, start!</h1>
      <div id="groups" class="board">
        {/* TODO: create specialized corner tiles */}
        <div class="center-box"></div>
          {
            booksdata.map((book, index) => {
              return (
                <div class={`tile-${index}`} date-genre={book.genre}>
                  <Tile prompt={book.subgenre}
                      colorBand={book.genre} />
                </div>
              );
            })
          }
        </div>
      </div>
  </section>
</Layout>

<style is:global>
  .board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 220px);
  }

  .center-box {
    grid-column: 2 / 8;
    grid-row: 2 / 8;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
  }

  .vertical-row {
    grid-template-columns: 220px;
    grid-template-rows: repeat(8, 1fr);
  }

  .vertical-row [class*="tile"] {
    transform: rotate(90deg);
  }

  .horizontal-row {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 220px;
  }
 
  /* bottom row, horizontal */
  .group-1 {
    grid-column: 2 / 8;
    grid-row: 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 220px;
  }

  /* top row, horizontal */
  .group-2 {
    grid-column: 2 / 8;
    grid-row: 1;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 220px;
    display: grid;
  }

  /* left col, vertical */
  .group-3 {
    grid-column: 1;
	  grid-row: 2 / 8;
    margin-left: auto;
  }

  /* right col, vertical */
  .group-4 {
    grid-column: 8;
	  grid-row: 2 / 8;
  }
</style>

<script>
  const rowSize = 6;
  const parent = document.getElementById('groups');
  let tiles = document.querySelectorAll("[class*=tile-]");

  assignSide()

  function assignSide(){ // Assign game tiles side on the board
    let counter = 1;
    
    for (let i = 0; i < tiles.length; i += rowSize) {
      
      const container = document.createElement('div'); // Create tile group container
      container.classList.add("group-" + counter++);

      for (let x = i; x < i + 6 && x < tiles.length; x++) {
        container.appendChild(tiles[x]); // Move tiles into the container
      }

        parent?.appendChild(container);
    }
  }
</script>