---
const { title, img } = Astro.props;
---
<article class="bg-white border-black w-[145px] h-[145px] border flex flex-col justify-between">
    <h2 class="text-center uppercase text-md mx-2">{title}</h2>
    <img src={img} />
</article>