---
import '@fontsource/merriweather';
import '@fontsource/poppins';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/src/assets/book-icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Bookopoly</title>
	</head>
	<body class="bg-gradient-to-r bg-gradient-to-r from-violet-200 to-pink-200">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
